{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author.last_name }}, {{ author.first_name }}</h1>

  <p>({% if author.date_of_birth %}{{ author.date_of_birth }}{% else %}{% endif %} - {% if author.date_of_birth %}{{ author.date_of_death }}{% else %}{% endif %}) <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for copy in author.book_set.all %}
      <hr />
      <p>
        <a href="{{ book.get_absolute_url }}">{{ copy.title }}</a>
      </p>
	  {{ copy.summary }}
    {% endfor %}
  </div>
{% endblock %}
